@import url('https://fonts.googleapis.com/css?family=Open+Sans'); /* font init*/

body {
    font-family: 'Open Sans', sans-serif;
}



a:link,
a:visited {
  color: inherit; /* or pick a color you want like #000 for black */
  text-decoration: none; /* optional if you want no underline */
}

.link-icons a i {
  font-size: 1.5em; /* example size */
  color: #333; /* or whatever color you want for the icons */
}